<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
    <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


   <!-- Navbar navigation -->


   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" href="#">

     Sports Utopia
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="./../home">Home <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="./../login">Login</a>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Sports
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item"  href="./../sport">sports</a>
           <a class="dropdown-item" href="./../facilities">Facilities</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Something else here</a>
         </div>
       </li>
       <li class="nav-item">
         <a class="nav-link disabled" href="#">Disabled</a>
       </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>
   </div>
 </nav>




   <!-- cards -->

   <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1531415074968-036ba1b575da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cricket</h5>
      <p class="card-text">Cricket is a bat-and-ball game played between two teams of eleven players on a field at the centre of which is a 20-metre (22-yard) pitch with a wicket at each end, each comprising two bails balanced on three stumps. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Cricket" role="button">more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1559589065-38e6272cad90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Basket BAll</h5>
      <p class="card-text">Basketball is a team sport in which two teams, most commonly of five players each, opposing one another on a rectangular court, compete with the primary objective of shooting a basketball through the defender's hoop while preventing the opposing team from shooting through their own hoop</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Basketball" role="button">more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1485908953667-cf6d88997642?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1020&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tennis</h5>
      <p class="card-text">Tennis is a racket sport that can be played individually against a single opponent or between two teams of two players each. Each player uses a tennis racket that is strung with cord to strike a hollow rubber ball covered with felt over or around a net and into the opponent's court.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Tennis" role="button">more</a>
    </div>
  </div>
</div>



<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1559309106-ed14040fd35d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Badminton</h5>
      <p class="card-text">Badminton is a racquet sport played using racquets to hit a shuttlecock across a net. Although it may be played with larger teams, the most common forms of the game are "singles" and "doubles".</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Badminton" role="button">more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Football</h5>
      <p class="card-text">Football is a family of team sports that involve, to varying degrees, kicking a ball to score a goal. Unqualified, the word football normally means the form of football that is the most popular where the word is used. Sports commonly called football include association football (known as soccer in some countries); gridiron football (specifically American football or Canadian football); Australian rules football; rugby football (either rugby league or rugby union); and Gaelic football.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Football" role="button">more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1537740544208-8c0246fdfc05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hockey</h5>
      <p class="card-text">Hockey is a sport in which two teams play against each other by trying to manoeuvre a ball or a puck into the opponent's goal using a hockey stick. There are many types of hockey such as bandy, field hockey, and ice hockey.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Hockey" role="button">more</a>
    </div>
  </div>
</div>



<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1542468019-550cb643a5e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Wrestling</h5>
      <p class="card-text">Professional wrestling is a form of performance art and entertainment that combines athletics with theatrical performance. It takes the form of events, held by touring companies, that mimic a title-match combat sport.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Professional_wrestling" role="button">more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1523875194681-bedd468c58bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">chess</h5>
      <p class="card-text">Chess is a two-player strategy board game played on a checkered board with 64 squares arranged in an 8×8 grid. The game is played by millions of people worldwide. Chess is believed to be derived from the Indian game chaturanga sometime before the 7th century.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Chess" role="button">more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1529316464151-695eb09f22a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Table Tennis</h5>
      <p class="card-text">Table tennis, also known as ping-pong, is a sport in which two or four players hit a lightweight ball back and forth across a table using small rackets. The game takes place on a hard table divided by a net. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Table_tennis" role="button">more</a>
    </div>
  </div>
</div>



<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1495555687398-3f50d6e79e1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Boxing</h5>
      <p class="card-text">Boxing is a combat sport in which two people, usually wearing protective gloves, throw punches at each other for a predetermined amount of time in a boxing ring. Amateur boxing is both an Olympic and Commonwealth Games sport and is a common fixture in most international games—it also has its own World Championships.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Boxing" role="button">more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1553005746-9245ba190489?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Volleyball</h5>
      <p class="card-text">Volleyball is a popular team sport in which two teams of six players are separated by a net. Each team tries to score points by grounding a ball on the other team's court under organized rules. It has been a part of the official program of the Summer Olympic Games since Tokyo 1964.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Volleyball" role="button">more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1517649763962-0c623066013b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">cycling</h5>
      <p class="card-text">Cycling, also called biking or bicycling, is the use of bicycles for transport, recreation, exercise or sport. People engaged in cycling are referred to as "cyclists", "bikers", or less commonly, as "bicyclists". </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Cycling" role="button">more</a>
    </div>
  </div>
</div>



  </body>
</html>
